# Simulation Data & Workspace
sim_data/
*.txt

# Python & Environment (uv Standard)
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
.python-version

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE Settings
.vscode/
.DS_Store